.login {
  max-width: 500px;

  margin: 60px auto;

  padding: 35px;

  background: rgba(255, 255, 255, 0.97);

  border-radius: 15px;

  border-top: 5px solid #791d1d;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.2),
    0 2px 8px rgba(0, 0, 0, 0.1);
}

.login h1 {
  text-align: center;
  color: #791d1d;
  margin-bottom: 10px;
}

.login p {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}